### 2011 CSD

In [1]:
import duckdb

# Path to your CSV file
csv_file_path = '/home/mac/code/municipalities/u98-316-XWE2011001-301.csv'

# Connect to DuckDB (it will create a database file in the current directory)
conn = duckdb.connect('can.db')

# Load CSV data into a DuckDB table
conn.execute(f"""
    CREATE TABLE csd2011 AS 
    SELECT * 
    FROM read_csv_auto('{csv_file_path}')
""")

# Verify that the table has been created and contains data
result = conn.execute("SELECT * FROM csd2011 LIMIT 5").fetchall()
print(result)

# Close the connection
conn.close()

[(1001101, 'Newfoundland and Labrador', 'Division No.  1', 'Division No.  1, Subd. V', 'Subdivision of unorganized', 'Population and dwelling counts', 'Population in 2011', 1, 62.0, None, None, '...', None, '...'), (1001101, 'Newfoundland and Labrador', 'Division No.  1', 'Division No.  1, Subd. V', 'Subdivision of unorganized', 'Population and dwelling counts', 'Population in 2006', 1, 65.0, None, None, '...', None, '...'), (1001101, 'Newfoundland and Labrador', 'Division No.  1', 'Division No.  1, Subd. V', 'Subdivision of unorganized', 'Population and dwelling counts', '2006 to 2011 population change (%)', None, -4.6, None, None, '...', None, '...'), (1001101, 'Newfoundland and Labrador', 'Division No.  1', 'Division No.  1, Subd. V', 'Subdivision of unorganized', 'Population and dwelling counts', 'Total private dwellings', 2, 83.0, None, None, '...', None, '...'), (1001101, 'Newfoundland and Labrador', 'Division No.  1', 'Division No.  1, Subd. V', 'Subdivision of unorganized', 'Population and dwelling counts', 'Private dwellings occupied by usual residents', 3, 28.0, None, None, '...', None, '...')]

conn = duckdb.connect('can.db')

# Load CSV data into a DuckDB table
conn.execute(f"""
    DROP TABLE csd2021;
""")

# Close the connection
conn.close()

In [2]:
# Connect to the DuckDB database
conn = duckdb.connect('can.db')

# Use DESCRIBE to get the schema of the table
describe_result = conn.execute("DESCRIBE csd2011").fetchall()
print("DESCRIBE result:")
for row in describe_result:
    print(row)


# Close the connection
conn.close()

DESCRIBE result:
('Geo_Code', 'BIGINT', 'YES', None, None, None)
('Prov_Name', 'VARCHAR', 'YES', None, None, None)
('CD_Name', 'VARCHAR', 'YES', None, None, None)
('CSD_Name', 'VARCHAR', 'YES', None, None, None)
('CSD_Type', 'VARCHAR', 'YES', None, None, None)
('Topic', 'VARCHAR', 'YES', None, None, None)
('Characteristics', 'VARCHAR', 'YES', None, None, None)
('Note', 'BIGINT', 'YES', None, None, None)
('Total', 'DOUBLE', 'YES', None, None, None)
('Flag_Total', 'VARCHAR', 'YES', None, None, None)
('Male', 'DOUBLE', 'YES', None, None, None)
('Flag_Male', 'VARCHAR', 'YES', None, None, None)
('Female', 'DOUBLE', 'YES', None, None, None)
('Flag_Female', 'VARCHAR', 'YES', None, None, None)

# Connect to the DuckDB database
conn = duckdb.connect('can.db')

# Rename the columns
conn.execute("""
    ALTER TABLE csd2016 RENAME COLUMN "Dim: Sex (3): Member ID: [1]: Total - Sex" TO total;
    ALTER TABLE csd2016 RENAME COLUMN "Dim: Sex (3): Member ID: [2]: Male" TO male;
    ALTER TABLE csd2016 RENAME COLUMN "Dim: Sex (3): Member ID: [3]: Female" TO female;
""")

# Update the values equal to character to 0
conn.execute("""
    UPDATE csd2016
    SET total = CASE WHEN total = 'x' THEN '0' ELSE total END,
        male = CASE WHEN male = 'x' THEN '0' ELSE male END,
        female = CASE WHEN female = 'x' THEN '0' ELSE female END
""")

conn.execute("""
    UPDATE csd2016
    SET total = CASE WHEN total = '...' THEN '0' ELSE total END,
        male = CASE WHEN male = '...' THEN '0' ELSE male END,
        female = CASE WHEN female = '...' THEN '0' ELSE female END;
""")

conn.execute("""
    UPDATE csd2016
    SET total = CASE WHEN total = 'F' THEN '0' ELSE total END,
        male = CASE WHEN male = 'F' THEN '0' ELSE male END,
        female = CASE WHEN female = 'F' THEN '0' ELSE female END;
""")

conn.execute("""
    UPDATE csd2016
    SET total = CASE WHEN total = '..' THEN '0' ELSE total END,
        male = CASE WHEN male = '..' THEN '0' ELSE male END,
        female = CASE WHEN female = '..' THEN '0' ELSE female END;
""")

# Create a temporary table to cast the renamed columns to FLOAT
conn.execute("""
    ALTER TABLE csd2016 ALTER total TYPE FLOAT;
    ALTER TABLE csd2016 ALTER male TYPE FLOAT;
    ALTER TABLE csd2016 ALTER female TYPE FLOAT;
""")

# Verify the changes

# Use DESCRIBE to get the schema of the table
describe_result = conn.execute("DESCRIBE csd2016").fetchall()
print("DESCRIBE result:")
for row in describe_result:
    print(row)
    
# Close the connection
conn.close()